table.gfsac-center {
    width: 100%;
}
table.gfsac-center tr:nth-child(even) {
    background: #e0e4ee;
}
table.gfsac-center tr:nth-child(odd) {
    background: #f0f0f0;
}

table.gfsac-center td {
    padding: 10px 10px;
}

table.gfsac-center th {
    text-align: left;
}
table.gfsac-center td.center {
    text-align: center;
}
table.gfsac-center td {
    font-weight: 400;
    font-size: 1rem;
}
